/* ===================================
MOBILE
=================================== */

@media (max-width:1000px){

}
/* ===================================
MOBILE
=================================== */

@media (max-width:1000px){

    /* NAVBAR */

    .navbar{

        height:70px;

        padding:0 16px;

    }

    .logo{

        gap:8px;

    }

    .logo img{

        width:30px;

    }

    .logo span{

        font-size:16px;

        letter-spacing:0.5px;

    }

    .nav-buttons{

        gap:8px;

    }

    .nav-button,
    .whatsapp-btn{

        height:40px;

        padding:0 12px;

        font-size:12px;

        border-radius:10px;

    }

}
.booking-card input,
.booking-card select,
.booking-card textarea{

    width:100%;
    max-width:100%;
    box-sizing:border-box;

}
.booking-card{

    width:100%;
    max-width:100%;
    margin:0;
    padding:25px;
    overflow:hidden;
    box-sizing:border-box;

}
.booking-card form{

    width:100%;

}
.booking-card *{

    max-width:100%;
    box-sizing:border-box;

}